@import url("https://use.typekit.net/uqk0zpy.css");

header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  #site-logo {
    font-family: oxygen, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(88, 135, 196);
    font-size: 30px;
    text-decoration: none;

  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header h1 {
    position: absolute;
    bottom: 150px;
    margin-left: 100px;
    color: white;
    padding: 10px;
  }
  header .container {
    position: relative;
    z-index: 2;
  }
  
    @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

.nav-bar {
    float: right;
    list-style-type: none;
}

.menu-item a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgba(209, 199, 199, 0.671);
}

nav {
  padding: 20px 100px 0px 100px;
}

.menu-item {
    display: inline;
    padding: 5px;
    font-weight: 500;
}

.menu-item button {
    border: none;
    background: none;
}

.menu-item button:hover {
  border: none;
  background: none;
}

.site-logo {
    margin: 0 0 0 0;
}

footer {
    background-color: rgb(92, 92, 92);
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 20px 0 20px 5px; 
    
}

@media screen and (min-width: 1252px) {
main {
    margin: 0px 50px 0px 50px;
    background-color: white;
    border-radius: 5px;
    transform: translate( 0px, -100px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}

body {
    background-color: rgba(235, 227, 227, 0.699);
}

.features {
  padding: 20px;
}

.features-title {
   padding: 20px;
   text-align: center;
}

.features-text-container h6 {
 text-align: center;
 margin: 20px;
}

.features-text-container {
  text-align: justify;
 }

.reference {
  justify-content: center;
  margin: 30px;
}

.social-button img:hover {
  background-color: rgba(235, 227, 227, 0.699);
}

hr {
  margin: 50px 100px 10px 100px;
  border: 1px solid black; 
}

.social-button {
  margin-bottom: 50px;
  padding: 10px;
}

.services {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.services:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.services-text-container {
  margin-bottom: 100px;
}

.services-text-container h4 {
  text-align: center;
  margin: 30px 0 30px 0;
}

.reviews {
  padding: 20px;
}

.reviews p {
  margin: 10px 0 10px 0; 
  font-weight: 500;
}

.about-us {
  padding: 10px;
}

.about-us h2 {
  text-align: center;
  margin: 20px 0 20px 0;
}

.about-us p {
  text-align: justify;
}

.partner {
  padding: 20px;
}

textarea {
  display: block;
}

.contact-form {
  padding: 20px;
}

@media screen and (max-width: 760px) {
  .sketchfab-embed-wrapper {
    display: none;
  }
}

.mobile-nav-bar {
  width: 100%;
  background-color: rgb(71, 71, 226);
  bottom: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  text-decoration: none;
}

.mobile-nav-bar li {
  display: inline;
  color: white;
  padding: 5px;
  
}

.mobile-nav-bar li:hover {
  background-color: rgba(209, 199, 199, 0.671);
}

.mobile-nav-bar ul {
  color: white;
  text-decoration: none;
  padding: 1vh;
}

.mobile-nav-bar a {
  text-decoration: none;
  color: white;
}

.mobile-nav-bar button {
  background: none;
  border: none;
}

@media screen and (max-width: 770px) {
  nav ul {
    display: none;
    
  }
}

@media screen and (min-width: 770px) {
  .mobile-nav-bar {
    display: none;
  }
}